* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size 10px */
  font-size: 62.5%;
}

body {
  height: 100vh;

  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

#map {
  height: 100%;
  width: 100%;
}

.divider {
  border-bottom: 1px solid #777;
  width: 30%;
  margin: 15px auto;
}

.overlay-topic {
  font-size: 14px;
  margin: 10px 0;
}

.overlay {
  width: 100%;
  max-width: 200px;

  position: absolute;
  z-index: 1000;
  left: 0;

  margin: 10px;
  padding: 10px;
  border-radius: 15px;

  box-shadow: 1px 1px 1px gray;
  background: rgba(255, 255, 255, 0.7);
}

.overlay-buttons-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.overlay-button {
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.overlay-button:hover {
  background: rgb(209, 209, 209);
  cursor: pointer;
}

.overlay-button-icon {
  height: 25px;
  width: 25px;
}

.overlay-toggles-box {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.overlay-toggle-single-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.overlay-toggle {
  height: 20px;
  padding: 10px;
}

.overlay-toggle-icon {
  height: 20px;
  width: 20px;
}

.marker-popup {
  font-size: 12px;
  width: 200px;
}
